.side-bar {
  position: fixed;
  top: 70px;
}

.hide-me {
  p {
    display: none;
  }

  h2 {
    display: none;
  }
  div {
    border: none;
    justify-content: center !important;
    align-items: center;
  }

}

.main-container {
  border-bottom: #8f1e00;
  border-style: dashed;
  h2 {
    text-align: right;
  }
  .option {
    cursor: pointer;

    p{
      padding: 2px;
      font-size: 12px;
      top: 10px;
    }

  }

  .option:hover{
    background-color: rgba(79, 80, 80, 0.25);
  }
}

.socials {
  h2 {
    text-align: right;
  }
  .option {
    cursor: pointer;

    p{
      padding: 2px;
      font-size: 12px;
      top: 10px;
    }

  }

  .option:hover{
    background-color: rgba(79, 80, 80, 0.25);
  }

}

.log-off {
  cursor: pointer;

  h2 {
    text-align: right;
  }

  p{
    padding: 2px;
    font-size: 12px;
    top: 10px;
    }
}

.log-off:hover{
  background-color: rgba(79, 80, 80, 0.25);
}
