<div class="position-absolute user-container bg-white shadow slide-down">
  <div class="option position-relative my-1 d-flex flex-row column-gap-1 align-items-center justify-content-end" routerLink="profile">
    <p class="position-relative text-right small">Profile</p>
    <i class="bi bi-person fs-5 position-relative text-muted mx-1"></i>
  </div>

  <div class="option position-relative my-1 d-flex flex-row column-gap-1 align-items-center justify-content-end">
    <p class="position-relative text-right small">My balance</p>
    <i class="bi bi-credit-card fs-5 position-relative text-muted mx-1"></i>
  </div>

  <div class="option position-relative my-1 d-flex flex-row column-gap-1 align-items-center justify-content-end">
    <p class="position-relative text-right small">Inbox</p>
    <i class="bi bi-mailbox fs-5 position-relative text-muted mx-1"></i>
  </div>

  <div class="option position-relative my-1 d-flex flex-row column-gap-1 align-items-center justify-content-end">
    <p class="position-relative text-right small">Settings</p>
    <i class="bi bi-gear fs-5 position-relative text-muted mx-1"></i>
  </div>

  <div class="option position-relative border border-1 my-1 d-flex flex-row column-gap-1 align-items-center justify-content-end">
    <p class="position-relative text-right small">Available</p>
    <i class="bi bi-check fs-5 position-relative text-success mx-1"></i>
  </div>

  <div class="option position-relative my-1 d-flex flex-row column-gap-1 align-items-center justify-content-end">
    <p class="position-relative text-right small">Log out</p>
    <i class="bi bi-power fs-5 position-relative text-muted mx-1"></i>
  </div>

</div>
