.pie-chart {
  i.bi-pie-chart-fill {
    font-size: 200px;
  }

  .color-box {
    width: 20px;
    height: 20px;
  }

}

.satisfaction {
  .progress {
    height: 8px;

    .progress-bar {
      width: 93%;
    }
  }


}
