<div class="row px-3 position-relative mt-3 mb-3 py-3 column-gap-4 row-gap-4 justify-content-center ">

  <div class="pie-chart col-xl-3 col-md-5 col-12 order-xl-1 order-md-1 order-2 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
    <div class="row justify-content-between">
      <div class="col-3">
        <i class="bi bi-three-dots-vertical mx-1 text-muted"></i>
        <i class="bi bi-arrow-counterclockwise mx-1 text-muted"></i>
      </div>

      <p class="col-8 text-end mx-1 small text-muted">Visit by Traffic types</p>
    </div>
    <div class="d-flex justify-content-center align-items-center h-50">
      <app-graphic-primera-caja></app-graphic-primera-caja>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-2 row">
      <div class="col-12 border border-subtle mt-2">
        <app-graphic2-primera-caja></app-graphic2-primera-caja>
      </div>
      <div class="col-12 border border-subtle mt-2">
        <app-graphic3-primera-caja></app-graphic3-primera-caja>
      </div>
      <div class="col-12 border border-subtle mt-2">
        <app-graphic4-primera-caja></app-graphic4-primera-caja>
      </div>

    </div>
  </div>

  <div class="col-xl-3 col-md-6 col-12 order-xl-2 order-md-2 order-1 position-relative rounded-3 py-4 px-3 bg-white">
      <div class="satisfaction p-4 mt-2 text-center shadow-sm border border-light-subtle">
        <h6 class="fw-bolder">CUSTOMER SATISFACTION</h6>
        <h1 class="text-success">93.13%</h1>
        <div class="progress">
          <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"></div>
        </div>
        <div class="d-flex justify-content-around mt-3">
          <div>
            <p>Trend</p>
            <i class="bi bi-graph-up-arrow text-success"></i>
          </div>
          <div>
            <p>Change %</p>
            <p>14.29+</p>
          </div>
          <div>
            <p>Previous</p>
            <p>79.82</p>
          </div>
        </div>
      </div>

    <div class="p-4 mt-4 shadow-sm border border-light-subtle">
      <diV class="row justify-content-between align-items-center">
        <div class="col-3 d-flex justify-content-evenly">
          <i class="bi bi-x text-muted"></i>
          <i class="bi bi-download text-muted"></i>
        </div>
        <h6 class="text-center col-5 small">Browser Stats</h6>
      </diV>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge bg-warning">50%</span> Google Chrome
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge bg-danger">10%</span> Mozilla Firefox
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge bg-success">30%</span> Internet Explorer
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge bg-info">10%</span> Safari
        </li>
      </ul>
    </div>
  </div>

  <div class="col-xl-5 col-12 order-xl-3 order-0 border border-light-subtle position-relative rounded-3 py-4 px-3 bg-white shadow-sm">
    <div class="row justify-content-between align-items-center">
      <div class="form-check form-switch col-3">
        <input type="checkbox" class="form-check-input mx-2" id="checkbox">
      </div>
      <p class="bolder col-5 mx-2 text-end">User statistics</p>
    </div>
    <div class="imagen mt-3">
      <img src="/grafica-foto.png" alt="grafica" class="img img-fluid w-100 h-100">
    </div>
  </div>
</div>
