.login {
  top: 100px;

  .login-form {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    box-sizing: border-box;

    .form-group {
      margin-bottom: 15px;

      .contrasena {
        margin:0;
        font-size: 12px;
        color: cornflowerblue;
      }

      .contrasena:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

  }

  .registro {
    p {
      font-size: 12px;
    }
    .create {
      color: cornflowerblue;
      font-weight: bold;
    }

    .create:hover {
      text-decoration: underline;
      cursor: pointer;
    }


  }

}

.responsive-box {
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;

  @media (min-width: 576px) {
    width: 500px;
  }

  @media (min-width: 768px) {
    width: 512px;
  }

  @media (min-width: 1024px) {
    width: 570px;
  }
}
