<div  class="position-absolute user-container bg-white shadow slide-down z-2">
  <div class="option position-relative border border-1 d-flex flex-row column-gap-1 align-items-center justify-content-end">
    <p class="position-relative text-right small">Events</p>
    <i class="bi bi-calendar-date-fill fs-5 position-relative text-info mx-1"></i>
  </div>

  <div class="option position-relative border border-1 d-flex flex-row column-gap-1 align-items-center justify-content-end">
    <p class="position-relative text-right small">Inbox</p>
    <i class="bi bi-mailbox fs-5 position-relative text-muted mx-1"></i>
  </div>

  <div class="option position-relative border border-1 d-flex flex-row column-gap-1 align-items-center justify-content-end">
    <p class="position-relative text-right small">Tasks</p>
    <i class="bi bi-list-stars fs-5 position-relative text-success mx-1"></i>
  </div>

  <div class="option position-relative border border-1 d-flex flex-row column-gap-1 align-items-center justify-content-end">
    <p class="position-relative text-right small">Settings</p>
    <i class="bi bi-gear fs-5 position-relative text-muted mx-1"></i>
  </div>
</div>

