<div class="position-absolute dashboard-container bg-white shadow slide-down d-flex row column-gap-1 align-items-center justify-content-around z-3">
  <div class="element col-3  justify-content-center">
    <i class="mx-auto bi bi-calendar text-info  fs-5 position-relative"></i>
    <p class="small text-muted text-center">Calendar</p>
  </div>

  <div class="element col-3  justify-content-center">
    <i class="mx-auto bi bi-envelope-open-fill text-success fs-5 position-relative"></i>
    <p class="small text-muted text-center">Email</p>
  </div>

  <div class="element col-3  justify-content-center">
    <i class="mx-auto bi bi-cloud text-danger fs-5 position-relative"></i>
    <p class="small text-muted text-center">Weather</p>
  </div>

  <div class="element col-3  justify-content-center">
    <i class="mx-auto bi bi-person-badge-fill text-muted fs-5 position-relative"></i>
    <p class="small text-muted text-center">Contact</p>
  </div>

  <div class="element col-3  justify-content-center">
    <i class="mx-auto bi bi-chat-left text-warning fs-5 position-relative"></i>
    <p class="small text-muted text-center">Chat</p>
  </div>

  <div class="element col-3 justify-content-center">
    <i class="mx-auto bi bi-map-fill text-danger fs-5 position-relative"></i>
    <p class="small text-muted text-center">Map</p>
  </div>

  <div class="more mx-auto text-center">
    <p class="small text-muted">More</p>
  </div>

</div>
