

<input type="text" class="form-control mb-3" placeholder="Search" />
<div class="d-flex justify-content-between row">
  <h6 class="col-5">Recent Chats</h6>
  <p class="small text-muted col-5 text-end see-all">See all</p>
</div>
<ul class="list-unstyled">
  <li class="d-flex align-items-center gap-2 mb-2">
    <div class="rounded-circle position-relative bg-white d-flex align-items-center justify-content-center">
      <i class="bi bi-person-fill text-black fs-5"></i>
    </div> Alexei Gravett
  </li>
  <li class="d-flex align-items-center gap-2 mb-2">
    <div class="rounded-circle position-relative bg-white d-flex align-items-center justify-content-center">
      <i class="bi bi-person-fill text-black fs-5"></i>
    </div> Rheta Olivier
  </li>
</ul>

<div class="d-flex justify-content-between row">
  <h6 class="col-5">Events</h6>
  <p class="small text-muted col-5 text-end see-all">See all</p>
</div>
<ul class="list-unstyled">
  <li class="d-flex align-items-center gap-2 mb-2">
    <i class="bi bi-calendar-date-fill text-black fs-5"></i>
    Finance meeting
  </li>
  <li class="d-flex align-items-center gap-2 mb-2">
    <i class="bi bi-calendar-date-fill text-black fs-5"></i>
    UI weekly review
  </li>
</ul>

<div class="d-flex justify-content-between row">
  <h6 class="col-5">Tasks</h6>
  <p class="small text-muted col-5 text-end see-all">See all</p>
</div>
<ul class="list-unstyled">
  <li class="d-flex align-items-center gap-2 mb-2">
    <i class="bi bi-check-lg text-black fs-5"></i>
    Finish up graphics
  </li>
  <li class="d-flex align-items-center gap-2 mb-2">
    <i class="bi bi-check-lg text-black fs-5"></i>
    Code documentation
  </li>
</ul>
