<div class="container my-4 div-principal">
  <div class="p-4 shadow-lg w-75 mx-auto d-flex row g-0">
    <div class="d-flex justify-content-center align-items-center col-md-7 col-12 row">
      <div class="rounded-2 shadow-lg p-3 col-12 col-md-4 d-flex justify-content-center mx-auto my-auto">
        <img src="/img.png" class="rounded-2 img-fluid" width="150" height="150" alt="User Avatar">
      </div>

      <div class="col-12 col-md-6 mx-auto d-flex flex-column align-items-center align-items-md-start mt-2 text-center text-md-start">
        <h4 class="fw-bold fs-5">{{user?.firstName}} {{user?.lastName}}</h4>
        <div class="w-100">
          <p class="mb-2 d-flex align-items-center">
            <i class="bi bi-person-fill text-muted me-2"></i> {{user?.username}}
          </p>
          <p class="mb-2 d-flex fs-6 align-items-center text-start">
            <i class="bi bi-geo-alt text-success me-2"></i> {{user?.address}}
          </p>
          <p class="mb-2 d-md-flex align-items-center d-none">
            <i class="bi bi-calendar-fill text-info me-2"></i>{{user?.createdAt}}
          </p>
          <p class="mb-2 d-flex align-items-center">
            <i class="bi bi-briefcase-fill text-primary me-2"></i> {{user?.roleName}}
          </p>
        </div>
      </div>
    </div>
    <div class="vr mx-4 col-1 bg-dark text-dark d-none d-md-block"></div>

    <div class="col-md-3 col-12 d-block mt-md-5 mt-2 mx-auto my-auto row">
      <h6 class="text-center fs-6 mt-2 fw-bolder col-12">Cambiar contraseña</h6>
      <button class="d-block btn btn-primary text-white fw-bolder mx-auto col-5" (click)="changePassword()"><i class="bi bi-lock-fill fs-3 text-white fw-bolder"></i></button>
    </div>
  </div>

  <div class="mt-4 mx-auto">
    <h5 class="fw-bold text-center">Mis Productos</h5>
    <div *ngIf="products.length === 0" class="alert alert-warning">No hay pedidos agregados.</div>
    <table class="table table-responsive mt-3 w-75 mx-auto">
      <tbody>
      <tr *ngFor="let product of products; let i = index">
        <td class="d-flex align-items-center">
          <img src="/img.png" alt="Producto" class="img-thumbnail me-2" style="max-width: 50px;">
          {{product.name}}
        </td>
        <td>{{product.price}} {{product.currency}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
