.notification-container{
  top: 60px;
  width: 400px;
  min-width: 400px;

  .encabezado{
    p{
      cursor: pointer;
      text-align: left;
      font-size: 12px;
    }
    h1 {
      text-align: right;
      font-size: 15px;
    }

    p:hover{
      text-decoration: underline;
      text-decoration-color: #8f1e00;
    }
  }

  .notification {
    h2 {
      text-align: right;
      font-size: 14px;
    }

    p {
      text-align: right;
      font-size: 12px;
    }

    i {
      top: -10px;
      width: 40px;
      height: 40px;
    }
  }

  .notification:hover {
    cursor: pointer;
    background-color: rgba(79, 80, 80, 0.1);
  }

  .read-all{
    bottom: 0;
    font-size: 14px;


    p:hover{
      cursor: pointer;
      text-decoration: underline;
      text-decoration-color: #717171;
    }
  }





}
