<div class="position-absolute notification-container bg-white shadow slide-down z-3">
  <div class="encabezado d-flex flex-row w-100 justify-content-between">
    <p class="text-danger m-1">CLEAR ALL</p>
    <h1 class="h6 m-1">Notifications</h1>
  </div>

  <div class="notification d-flex flex-row column-gap-2 align-items-center justify-content-end w-100">
    <div class="my-1">
      <h2 class="text-right h6">New subscription created</h2>
      <p class="text-right text-muted">{{"the basic plan customer will pay $25 per month"|truncateText}}</p>
    </div>
    <i class="bi bi-flag-fill fs-5 position-relative bg-success text-white mx-1 my-1 d-flex justify-content-center align-items-center"></i>
  </div>

  <div class="read-all position-relative">
    <p class="text-muted text-center w-25 mx-auto">Read all</p>
  </div>

</div>
