<div class="container mt-4">
  <div class="row column-gap-1">
    <div class="col-12 col-lg-8">
      <table class="table table-responsive">
        <thead>
        <tr class="d-none d-md-table-row">
          <th class="d-none d-md-table-cell">Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total</th>
          <th class="d-none d-md-table-cell">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of cart; let i = index">
          <td class="d-flex align-items-center">
            <img src="/img.png" alt="Producto" class="img-thumbnail me-2" style="max-width: 50px;">
            <div class="d-none d-md-block">
              <span class="d-md-none"><strong>Producto:</strong></span> {{product.name}}
            </div>
          </td>
          <td>
            <span class="d-none d-md-block"></span> {{product.price}} EUR
          </td>
          <td>
            <span class="d-none d-md-block"></span>
            <input type="number" class="form-control" [(ngModel)]="cartItems[i].quantity" (change)="updateQuantity(product.id, cartItems[i].quantity)" min="1">
          </td>
          <td>
            <span class="d-none d-md-block"></span> {{product.price * cartItems[i].quantity}} EUR
          </td>
          <td>
            <button class="btn btn-danger btn-sm d-md-none mt-2" (click)="removeProduct(i,product.id)"><i class="bi bi-trash fs-5 bg-danger text-white"></i></button>
            <button class="btn btn-danger btn-sm d-none d-md-block" (click)="removeProduct(i, product.id)">Eliminar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-lg-3 col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Resumen del Carrito</h5>
          <p>Subtotal: {{this.subtotal}} EUR</p>
          <p>Envío: Gratis</p>
          <p>Total: {{this.total}} EUR</p>
          <button class="btn btn-success d-block mt-2" (click)="checkout()">Checkout</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="orderActive && cart.length>0" class="position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-50 z-3" (click)="closeCheckout()">
  <div class="position-absolute top-50 start-50 translate-middle w-75 slide-up bg-white rounded p-4 shadow details slide-up"  (click)="$event.stopPropagation()">
    <i class="bi bi-x position-absolute fs-2 end-0 top-0 fw-bolder text-muted" (click)="closeCheckout()"></i>
    <app-checkout *ngIf="isUserLoggedIn()"></app-checkout>
  </div>
</div>

