@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$primary: #FF7F50;
$secondary: #8f1e00;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info" : $info,
  "danger" : $danger,
  "warning" : $warning,
  "success" : $success,
  "dark" : $dark,
  "light" : $light,
  "white" : $white,
);
