
<div class="stats-container mt-4 mb-3 px-3 z-1">

  <div class="bg-info shadow-sm rounded-3 py-3 px-5 d-flex flex-nowrap align-items-center justify-content-between column-gap-2">
    <i class="bi bi-bar-chart-fill text-warning"></i>
    <p class="text-white text-center small"><span class="d-block fs-5">46.43%</span> GROWTH RATE</p>
  </div>

  <div class="bg-success shadow-sm rounded-3 py-3 px-5 d-flex flex-nowrap align-items-center justify-content-between column-gap-2">
    <i class="bi bi-file-earmark-fill text-white"></i>
    <p class="text-white text-center small"><span class="d-block fs-5">4,054,876</span> PAGE VIEWS</p>
  </div>

  <div class="bg-warning shadow-sm rounded-3 py-3 px-5 d-flex flex-nowrap align-items-center justify-content-between column-gap-2">
    <i class="bi bi-shuffle text-white"></i>
    <p class="text-white text-center small"><span class="d-block fs-5">46,41%</span> BOUNCE RATE</p>
  </div>

  <div class="bg-danger shadow-sm rounded-3 py-3 px-5 d-flex flex-nowrap align-items-center justify-content-between column-gap-2">
    <i class="bi bi-people-fill text-white"></i>
    <p class="text-white text-center small"><span class="d-block fs-5">914,002</span> VISITS</p>
  </div>
</div>
